{% extends 'base.html.twig' %}

{% block body %}
    {% if action == "ajouter"%}
      <h1><center>Ajouter votre entreprise</center></h1>
    {% else %}
      <h1><center>Modifier votre entreprise</center></h1>
    {% endif %}

      <p style="margin : 10px">Saisissez les caractéristiques de votre entreprise.</p>
      <div style="margin : 20px">
        {{form_start(vueFormulaire, {'attr' : {'novalidate':'novalidate'}})}}

        {{form_row(vueFormulaire.nom, {'attr' : {'placeholder':"Nom de votre entreprise"}})}}

        {{form_row(vueFormulaire.adresse, {'attr' : {'placeholder':"Adresse de votre entreprise"}})}}

        {{form_row(vueFormulaire.domaineActivite, {'attr' : {'placeholder':"Domaine d'activité de votre entreprise"}})}}

        {{form_row(vueFormulaire.numTel, {'attr' : {'placeholder':"09 XX XX XX XX"}})}}

        {{form_row(vueFormulaire.siteWeb, {'attr' : {'placeholder':"www.siteDeVotreEntreprise.fr"}})}}
        <br>
        <center><button type="submit" class="btn btn-dark" name="button">Enregistrer</button></center>

        {{form_end(vueFormulaire)}}
      </div>

{% endblock %}
